body {
    font-family: "Noto Sans KR", sans-serif;
    color: #333;
}

.inner {
    max-width: 1440px;
    margin: 0 auto;
}

.btn {
    display: inline-flex;
    align-items: center;
    height: 32px;
    border: 1px solid #333;
    padding: 0 24px;
    font-size: 14px;
}

.btn::after {
    content: "+";
    margin-left: 16px;
}

.header {
    border-bottom: 1px solid #ddd;
}

.header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.header .gnb>ul {
    display: flex;
    gap: 40px;
}

.header .gnb>ul>li {
    position: relative;
}

.header .gnb>ul>li>a {
    display: block;
    line-height: 120px;
    white-space: nowrap;
}

.header .gnb>ul>li ul {
    display: none;
    position: absolute;
    top: 120px;
    left: 50%;
    z-index: 9;
    transform: translate(-50%, 0);
    background: #fff;
    border-top: 2px solid #333;
}

.header .gnb>ul>li:hover ul {
    display: block;
}

.header .gnb>ul>li ul a {
    display: block;
    line-height: 40px;
    white-space: nowrap;
    padding: 0 24px;
    border-bottom: 1px solid #ddd;
}

.main_visual {
    position: relative;
    background: url(../images/main_franchise_bg.webp) no-repeat center center/cover;
    height: calc(100vh - 121px);
}

.main_visual .slg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main_visual .slg h2 {
    font-size: 64px;
    font-weight: 800;
    color: #fff;
    text-align: center;
}

.main_visual .slg p {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.main_info {
    padding: 120px 0;
}

.main_info .title {
    max-width: 1440px;
    margin: 0 auto;
}

.main_info .title h2 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.main_info .title p {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.main_info .inner {
    display: flex;
    margin-top: 48px;
}

.main_info .inner .itm {
    flex: 1;
}

.main_info .inner .itm .img_box {
    overflow: hidden;
}

.main_info .inner .itm .img_box img {
    transition: 0.4s;
}

.main_info .inner .itm:hover .img_box img {
    transform: scale(1.4);
}

.main_info .inner .itm .txt_box {
    position: relative;
    margin-top: 40px;
    text-align: center;
}

.main_info .inner .itm .txt_box::before {
    content: "";
    position: absolute;
    left: 50%;
    top: -40px;
    transform: translate(-50%, -50%);
    display: block;
    width: 2px;
    height: 40px;
    background: #333;
}

.main_info .inner .itm .txt_box strong {
    display: block;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
}

.main_info .inner .itm .txt_box p {
    margin-top: 16px;
    line-height: 24px;
    text-align: center;
}

.main_info .inner .itm .txt_box .btn {
    margin-top: 24px;
}

.main_banner {
    position: relative;
    background: url(../images/main_store_bg.webp) no-repeat center center/cover;
    background-attachment: fixed;
    height: 400px;
}

.main_banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.5;
}

.main_banner .slg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 1440px;
    width: 100%;
}

.main_banner .slg h2 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.main_banner .slg p {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.footer {
    padding: 80px 0;
}